* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 10px;
 }
 
a {
    text-decoration: none;
    color: unset;
}

ul ,ol { list-style-type: none;}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: none;
    border: none;
}